<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      {{nombre_movimiento}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Documento de Origen: {{origen}}</ion-label>
  </ion-item>
  <div [hidden]="esCliente">
    <ion-item>
      <ion-label>Proveedor: {{proovedor}}</ion-label>
    </ion-item>
  </div>
  <div [hidden]="esProveedor">
    <ion-item>
      <ion-label>Cliente: {{cliente}}</ion-label>
    </ion-item>
  </div>
  <ion-item>
    <ion-label>Estado: {{estado}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Lista de productos:</ion-label>
  </ion-item>
  <ion-item>
    <ion-list *ngFor=" let item of arrayproductos; let i=index">
        <ion-label>Nombre: {{item.nombre}}</ion-label>
        <ion-label>Ubicación: {{item.ubicacion}}</ion-label>
        <ion-label>Cantidad pedida: {{item.cantidad_pedida}}</ion-label>
        <ion-label>Cantidad hecha: {{item.cantidad_hecha}}</ion-label>
    </ion-list>
  </ion-item>
</ion-content>
