<ion-header>
  <ion-navbar color="dark">
    <ion-row>
      <button ion-button icon-only (click)="logOut()" color="dark">
        <ion-icon name="log-out"></ion-icon>
      </button>
      <ion-title align="center">
        Página Principal
      </ion-title>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <button ion-button block large color="orange" (click)="ver_pedidos(1)">
      Ver Movimientos de Entrada 
    </button>
  </ion-row>
  <ion-row>
    <button ion-button block large color="secondary" (click)="ver_pedidos(3)">
      Ver Movimientos de Salida
    </button>
  </ion-row>
  <ion-row>
    <button ion-button block large color="primary" (click)="ver_pedidos(4)">
      Empaquetar
    </button>
  </ion-row>
</ion-content>
