<!--
  Generated template for the PackingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Empaquetado</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Mostrar Hechos y Cancelados:</ion-label>
    <ion-select [(ngModel)]="hechosycancelados" (ionChange)="valueOfOption()">
      <ion-option value="Si">Si</ion-option>
      <ion-option value="No">No</ion-option>
    </ion-select>
  </ion-item>
  <ion-list *ngFor="let items of packing;">
    <ion-item>
      <h2>Nombre: {{items.name}}</h2>
      <h3>Estado: {{items.state}}</h3>
    </ion-item>
  </ion-list>
</ion-content>
