<ion-header>
  <ion-navbar color="dark">
    <ion-buttons right [hidden]=ocultar_boton color="primary">
      <button ion-button large block  (click)="aEmpaquetar()">
        <ion-icon name="pizza"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{titulo}}
     </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-list *ngFor=" let item of arraypedidos; let i=index">
      <ion-item (click)="ver_mas(i)">
        <ion-label>{{item.nombre}}</ion-label>
        <ion-label>{{item.estado}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-item>
</ion-content>
