<!--
  Generated template for the TransferViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list *ngFor="let items of detailList">
    <ion-item>
      <h2>Nombre: {{items.name}}</h2>
    </ion-item>
    <ion-item>
      <h2>Estado: {{items.state}}</h2>
    </ion-item>
    <ion-item>
      <h2>Cliente: {{items.client}}</h2>
    </ion-item>

    <ion-item>
      <ion-list *ngFor="let prods of productList; let i = index">
        <ion-item>
          <h2>Nombre del Producto:</h2>
          <h2>{{prods.name}}</h2>
          <h2>Ubicación del Producto:</h2>
          <p>{{prods.pos}}</p>
          <h2>-----------------------------------------------------</h2>
          <div>
            <p>Cantidad para entregar:</p>
            <ion-row>
              <!-- <ion-col>
                <ion-icon name="add-circle" (click)="increment(i)" class="larger"></ion-icon>
              </ion-col> -->
              <ion-col>
                <p class="larger">{{prods.qty_del}}</p>
              </ion-col>
              <!-- <ion-col>
                <ion-icon name="remove-circle" (click)="decrement(i)" class="larger"></ion-icon>
              </ion-col> -->
            </ion-row>
            <p>Cantidad pedida</p>
            <p class="larger">{{prods.qty_order}}</p>
          </div>
        </ion-item>
        <form>
          <ion-label type="text" placeholder="Referencia"></ion-label>
          <div [hidden]=true>
            <button ion-button (click)="increment(i)">
            </button>
          </div>
        </form>
      </ion-list>
    </ion-item>
  </ion-list>
  <div [hidden]="check()">
    <button ion-button block round outline color="secondary" (click)="update()">
      Enviar y generar factura
    </button>
  </div>
</ion-content>
